@import 'variables';
header {
  text-align: center;
  margin: 5em 0;
}
#title {
  font-family: $title-font;
  font-size: 3em;
  font-weight: 400;
  text-decoration: underline;
}
#description {
  font-family: $main-font;
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 1em;
}
